h1{
    color: green;
    font-family: "Tac One", sans-serif;
    font-size: 60px;
    font-weight: 500;
    font-style: italic;
    word-spacing: 10px;
    text-align: center;
    height: 50px;
}

.texto02{
    font-family: "Lumanosimo", cursive;
    font-weight: 800;
    line-height: 1.5;
    text-transform: capitalize;
    word-spacing: 10px;
    letter-spacing: 10px;
    background-color: aqua;
    width: 50%;
}

#t01{
    color: red;
}

#t02{
    color: gray;
    background-color: black;
}

a{
    background-color: red;
    color: rgb(255, 255, 255);
    display: block;
}

ul{
    list-style: lower-greek;
}

.img_01{
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
}

.botao_01{
    display: inline-block;
    background-color: blue;
    font-size: 36px;
    transition: 0.4s ease-in-out;
}

.botao_01:hover{
    background-color: rgb(0, 0, 197);

}

.img_01:hover{
    transform: scale(105%);
    transition: 0.4s ease-in-out;
}